body {
  background-color: #0FC9D8;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.siimple-h1 {
  margin-top: 0;
  color: white;
}
.siimple-h4 {
  color: white;
}
.siimple-h4:not(:first-child) {
  margin-top: 0;
}

